# Ignorar o ambiente virtual
venv/

# Ignorar ficheiros temporários do Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar ficheiros temporários do sistema
.DS_Store
Thumbs.db

# Ignorar ficheiros temporários
*.log
*.bak
*.tmp

# Ignorar pastas de dados e temporárias
ficheiros_recebidos/
graficos_temp/
instance/
